.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    max-width: 400px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    text-align: center;
}
.card h3{
    margin-top: 0;
    color: #ef0832;
}
.card p{
    color: #666;
    line-height: 1.6
}